@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #00D4FF, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.title h1 {
  color:#00BDE3;
  text-shadow: 1px 1px #000;
  letter-spacing: 2px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.box-date {
  height: 120px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  border-radius: 7px;
  box-shadow: 5px 5px 15px #000;
  letter-spacing: 3px;
}

.data span {
  font-weight: bolder;
  font-size: 30px;
}

.data span.tempo {
  font-size: 12px;
}

.relogio {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.box-time {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  border-radius: 7px;
  box-shadow: 5px 5px 15px #000;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 12px;
}